<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Email Template</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    "
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #e6e9ef;
        background-image: url(https://t3.ftcdn.net/jpg/04/71/00/20/360_F_471002062_tCBbTqeeMhHgMfCW86mQhdgpETooy3ID.jpg);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      "
    >
      <header>
        <table style="width: 100%">
          <tbody>
            <tr style="height: 0">
              <td>
                <img
                  alt=""
                  src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1663574980688_114990/archisketch-logo"
                  height="30px"
                />
              </td>
              <td style="text-align: right">
                <span style="font-size: 16px; line-height: 30px; color: #ffffff"
                  >12 Nov, 2021</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </header>

      <main>
        <div
          style="
            margin: 0;
            margin-top: 70px;
            padding: 92px 30px 115px;
            background: #f4f7ff;
            border-radius: 30px;
            text-align: center;
          "
        >
          <div
            style="
              padding: 15px;
              color: #1e00ff;
              font-size: 24px;
              font-weight: bold;
              border-radius: 12px 12px 0 0;
              letter-spacing: 1px;
            "
          >
            🎮 Welcome to GAMING BACKEND!
          </div>
          <div style="width: 100%; max-width: 489px; margin: 0 auto">
            <h1
              style="
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                color: #1f1f1f;
              "
            >
              You're just one step away from leveling up your experience! Use
              the OTP below to verify your email:
            </h1>
            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              "
            >
              Hey GAMER,
            </p>

            <p
              style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              "
            >
              Use the following OTP to complete the procedure to verify your
              email address. OTP is valid for
              <span style="font-weight: 600; color: #1f1f1f">5 minutes</span>.
              Do not share this code with others
            </p>
            <p
              style="
                margin: 0;
                margin-top: 60px;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 10px;
                color: #1b36ff;
              "
            >
              123456
            </p>
          </div>
        </div>

        <p
          style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 90px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          "
        >
          Need help?  visit our
          <a
            href=""
            target="_blank"
            style="color: #499fb6; text-decoration: none"
            >Website</a
          >
        </p>
      </main>
      <hr />
      <footer
        style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        "
      >
        <p
          style="
            margin: 0;
            margin-top: 0px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          "
        >
          GAMING BACKEND
        </p>
        <p style="margin: 0; margin-top: 5px; color: #434343">
          Address 540, City, State.
        </p>

        <p style="margin: 0; margin-top: 5px; color: #434343">
          Copyright © 2025 Company. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
